<div class="card">
    <div class="card-body">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat cupiditate corporis voluptatum vel quae
            recusandae necessitatibus nostrum quos ad aperiam eum quisquam iste id atque inventore provident numquam
            ullam praesentium beatae, accusamus dicta. Tempora voluptatum numquam vero, consequatur veniam atque?</p>
    </div>
</div>